body {
    background-color: #eaeaec;
}

.navbar,
.column1,
.graph,
.overview,
.user,
.bell {
    background-color: #ffffff;
    cursor: pointer;
}

.icon-menu {
    color: #568cf9;
}

div.row_1 {
    background-color: #ffffff;
    position: relative;
    transition: all 0.3s ease-in-out;
}

div.row_1:hover {
    background-color: #6492dc;
    color: aliceblue;
}
  
div.row_1 ::after {
    content: '';
    position: absolute;
    right: -10px; 
    top: 50%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #6492dc;
    opacity: 0;
 
  }
  
div.row_1 :hover::after {
    opacity: 1;
  }
  
span.icon-menu:hover {
    color: aliceblue;
}

div.active_row {
    position: relative;
    background-color: #6492dc;
    color: white;
}
div.active_row ::after {
    content: '';
    position: absolute;
    right: -15px; 
    top: 50%;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 15px solid #539bf5;
    opacity: 1;
    
  }

a.sidebar {
    background-color: #ffffff;
}

a.sidebar:hover {
    background-color: #ecedf1;
    border-right: solid #2e5ebe;
    font-weight: bold;
}

.innercolumn {
    background-color: #f2f4f8;
}

.cardbrown {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), transparent 50%), #C4A57D;
}

div.add_image {
    cursor: pointer;
}